html 
    head 
        title=`Eventify | ${title}`
        link(rel='stylesheet', href='css/base.styles.css', type='text/css')
        link(rel='stylesheet', href='css/footer.styles.css', type='text/css')
        link(rel='shortcut icon' type='image/png' href='./assets/Eventify.png')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        include mixins/utils
        .my-account-page
            if user 
                .page-content
                    .options-container 
                        ul.options-list
                            a.option-container(href='/home')
                                img.logo(src='../assets/home-logo.svg' alt="Logo")
                                p.option Home
                            span.option-container#edit
                                img.logo(src='../assets/edit.svg' alt="Logo")
                                p.option Edit Profile 
                            span.option-container#security
                                img.logo(src='../assets/shield.svg' alt="Logo")
                                p.option Security settings
                            a.option-container#myeventsmanager
                                img.logo(src='../assets/shield.svg' alt="Logo")
                                p.option Manage Events
                    .edit-profile-container.js-show-widget 
                        .edit-profile-content
                            h2.edit-profile-title Edit Profile
                            .form-container 
                                form.my-account-details-form
                                    .user-image-container 
                                        img.user-image(src=`/img/users/${user.userImage}` alt="User photo")
                                    input.user-image-text(type='file', accept='image/*', id='photo' name='photo')
                                    label(for='photo') Choose new photo
                                    span.user-row 
                                        .user-details-container
                                            label.input-label(for="fname") First Name
                                            input.input-box(type='text' id='fname' name='fname' value=user.firstName required) 
                                        .user-details-container    
                                            label.input-label(for="lname") Last Name
                                            input.input-box(type='text' id='lname' name='lname' value=user.lastName required)
                                    span.user-row     
                                        .user-details-container    
                                            label.input-label(for="email") Email
                                            input.input-box(type='text' id='email' name='email' value=user.email required)
                                        .user-details-container    
                                            label.input-label(for="contact-num") Contact Number
                                            input.input-box(type='tel' id='contact-num'  pattern="[0-9]{11}" name='contact-num' value=user.contactNumber)
                                    span.user-row           
                                        .user-details-container(style="width:100%")    
                                                label.input-label(for="address") Address
                                                input.input-box-long(type='text' id='address' name='address' value=user.address)
                                    span.user-row     
                                        .user-details-container    
                                            label.input-label(for="city") City
                                            input.input-box(type='text' id='city' name='city' value=user.city)
                                        .user-details-container    
                                            label.input-label(for="state") State
                                            input.input-box(type='text' id='state' name='state' value=user.state)
                                    span.user-row     
                                        .user-details-container    
                                            label.input-label(for="postcode") Post Code
                                            input.input-box(type='text' id='postcode' name='postcode' value=user.postCode)
                                        .user-details-container    
                                            label.input-label(for="country") Country
                                            input.input-box(type='text' id='country' name='country' value=user.country)
                                    span.save-my-account-details-container 
                                        input.save-button(type="submit" value="Save")            
                    .security-container
                        .security-content
                            h1 Change password, set recovery questions etc
                    .security-container#manageMyEvents
                        .security-content
                            h1 User can see a filterable list of their events here, click on them to open them up and delete them from here too
            else
                +pleaseLogIn()
        include _footer

script(type="text/javascript" src='/index.js')
